/*------------------------------------*\
	#OVERRIDE STLES
	This style sheet can be used for two different functions:
	1. Override specific Bootstrap styles.
	2. Add your own styles.
\*------------------------------------*/

/**
 * Padding-top is required if using .navbar-fixed-top.
 * This can be removed Remove if using .navbar-static-top.
 * The height may need to be changed if the height of you
 * navigation changes.
*/

body { padding-top: 70px; }



/**
 * Bootstrap requires a containing element to wrap site contents
 * and house the grid system. You may choose one of two containers.
 * Use .container for a responsive fixed width container.
 * Use .container-fluid for a full width container.

 * If using container-fluid, you may need to set a maximum width,
 * so that the container will not spread to the entire viewport.
*/

.container-fluid { max-width: 1200px; }



/**
 * Bootstrap adds a 20px margin to the bottom of elements that
 * have been given the class of thumbnail. When images have a
 * caption after them, this margin may be too large. You can
 * override it like this:
*/



.frame {
  background-color:#ddc;
  border:solid 1vmin #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);

  display:inline-block;
  padding:0vmin;
  position:relative;
  text-align:center;
  &:before
    {
    border-radius:2px;
    bottom:-2vmin;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
    content:"";
    left:-2vmin;
    position:absolute;
    right:-2vmin;
    top:-2vmin;
  }
  &:after {
    border-radius:2px;
    bottom:-2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    content:"";
    left:-2.5vmin;
    position:absolute;
    right:-2.5vmin;
    top:-2.5vmin;
  }
}

.thumbnail
{
    margin-bottom: 5px;
    border-image: url(border.png) 25 25 round;
}
/**
 * We can add some "helper classes" to add or remove margins to
 * help aspects of the layout. These helper classes should only
 * be used sparingly.
*/

.margin-t-0 { margin-top: 0; }
.margin-t-h { margin-top: .5em; }
.margin-t-1 { margin-top: 1em; }
.margin-t-2 { margin-top: 2em; }
.margin-t-3 { margin-top: 3em; }
.margin-b-0 { margin-bottom: 0; }
.margin-b-h { margin-bottom: .5em; }
.margin-b-1 { margin-bottom: 1em; }
.margin-b-2 { margin-bottom: 2em; }
.margin-b-3 { margin-bottom: 3em; }

.margin-tb-0
{
	margin-top: 0;
	margin-bottom: 0;
}

.margin-tb-h
{
	margin-top: .5em;
	margin-bottom: .5em;
}

.margin-tb-1
{
	margin-top: 1em;
	margin-bottom: 1em;
}

.margin-tb-2
{
	margin-top: 2em;
	margin-bottom: 2em;
}

.margin-tb-3
{
	margin-top: 3em;
	margin-bottom: 3em;
}

.cuteimg
{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
